html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

  /* nav:hover {
    background-color: red;
} */

nav .logo {
    width: auto;
    height: 40px;
}
.left {
    margin-right: 225px;
}

.right {
    margin-left: 425px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 13px;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

nav ul a:hover {
    border-bottom: 1px solid white;
    padding-bottom: 27px;
  }

.content {
    text-align: center;
}

.content h1 {
    font-size: 120px;
    color: white;
    font-weight: 600;
    transition: 0.5s;
}

.content h1:hover {
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.content a {
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
}

.home-page {
    height: 165vh;
}

footer {
	background: #101010;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: red;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}
