
@font-face{
    font-family: 'ROSpritendo' ;
    src: url("assets/fonts/RoSpritendo.ttf") format('truetype');
}
@font-face{
    font-family: 'ROSpritendo2' ;
    src: url("../fonts/RoSpritendoSemibold.otf")format('opentype');
}
* {
    font-family: 'ROSpritendo', 'ROSpritendo2', sans-serif;
}

body  {
    background:  #bad1a3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #FFB6B6
        #bad1a3
    );
    background: linear-gradient(
        to right,
        #FFB6B6,
        #bad1a3
    ) ;
}