* {
    font-family: 'Poppins', sans-serif;
}

/** -------------------------------------------------------- NAVBAR CSS ----------------------------------------------------------------------**/
nav {
    position: fixed;
    inset: 0 0 auto;
    padding-top: 10px;
    display: flex;
    align-items: baseline;
    z-index: 100;
    background: transparent;
    border-bottom: 0.1px solid #242424;
    transition: all 0.5s ease;
}

nav:hover {
    background:rgba(255,255,255);
}

nav.active {
    background:rgba(255,255,255);
    transition: all 0.5s ease;
}

nav .left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav .logo {
    padding-left: 40;
    justify-content: center;
    height: 40px;
}

nav .right {
    flex: 1;
    padding-right: 40;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    padding: 13px;
}

nav ul a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    --padding: 0.5em;
    position: relative;
    padding: var(--padding);
    transition: scale 0.5s ease;
}

nav ul a::after {
    content: "";
    position: absolute;
    inset: auto var(--padding) calc(var(--padding) * 0.6);
    display: block;
    height: 2px;
    background-color: #000;
    scale: 0 1;
    transition: inherit;
    transform-origin: right;
}

nav ul a:hover::after {
    scale: 1 1;
    transform-origin: left;
}

nav .menu-btn i {
    color: #000;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

/** -------------------------------------------------------- END OF NAVBAR CSS ----------------------------------------------------------------------**/

/** -------------------------------------------------------- WELCOME PAGE CSS ----------------------------------------------------------------------**/
.welcome-bg {
    background-image: linear-gradient(to right, #FFB6B6, #F2FF68);
    min-height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
    text-align: center;  
    color: white;
}

.welcome-bg h1 {
    text-transform: capitalize;
    font-size: 85px;
    color: #fff;
    font-weight: 600;
}

.welcome-bg h1:hover {
    transition: 0.8s;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.welcome-bg a {
    text-transform: uppercase;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.welcome-bg a:hover {
    opacity: 1;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity 
}

.welcome-body .content {
    width: 100%;
    text-align: center;
}

.welcome-body .content h2 {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #000;
}

.welcome-body .content p {
    font-size: 20px;
    color: #000;
}
/** -------------------------------------------------------- END OF WELCOME PAGE CSS ----------------------------------------------------------------------**/

/** -------------------------------------------------------- CONTACT US PAGE CSS ----------------------------------------------------------------------**/
.contact_us {
    position: relative;
    min-height: 110vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
}

.contact_us .content {
    max-width: 800px;
    text-align: center;
}

.contact_us .content h2 {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #000;
}

.contact_us .content p {
    font-size: 20px;
    color: #000;
}

.contact_us .container  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #000;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, 
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
    resize: none;
}

.contactForm .inputBox span {
    text-transform: capitalize;
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
}

.contactForm .inputBox input[type="submit"] {
    background: #ffcdab;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contactForm .inputBox input:focus ~ span, 
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span, 
.contactForm .inputBox textarea:valid ~ span {
    color: #ffcdab;
    font-size: 12px;
    top: -20px;
    left: 0;
}

@media (max-width: 967) {
    .contact_us {
        padding: 50px 
    }
    .container  {
        flex-direction: column;
    }
    .container .contactForm {
        width: 100%;
    }
}
/** -------------------------------------------------------- END OF CONTACT US PAGE CSS ----------------------------------------------------------------------**/

/** -------------------------------------------------------- HOMe PAGE CSS ----------------------------------------------------------------------**/
body {
    background-color:  #fff; /* Fallback For Welcome Page*/
  }

body .welcome-body {
    background-color: #fff;
    min-height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
    text-align: center;
    color: #000;
}

.welcome-body h1 {
    text-transform: capitalize;
    font-size: 85px;
    color: #000;
    font-weight: 600;
}

.welcome-body h1:hover {
    transition: 0.5s;
    -webkit-text-stroke: 2px #000;
    color: transparent;
}
/** -------------------------------------------------------- END OF HOME PAGE CSS ----------------------------------------------------------------------**/

/** -------------------------------------------------------- FOOTER PAGE CSS ----------------------------------------------------------------------**/
.footer-container {
	max-width: 1170px;
	margin:auto;
}

.footer-row {
	display: flex;
	flex-wrap: wrap;
}

footer ul {
	list-style: none;
}

.footer {
    display:flex; 
    flex-flow:column; 
    justify-content:space-between;
	background-color: #000;
    padding-block: 70px;
}

.footer-col {
   width: 25%;
   padding: 0 15px;
}

.footer-col h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    margin-bottom: 50px;
	font-weight: 500;
	position: relative;
}

.footer-col h2 {
    text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	margin-bottom: 50px;
	font-weight: bold;
	position: relative;
    margin-left: 40px;
}

.footer-col h2:before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #fff;
	height: 2px;
	box-sizing: border-box;
	width: 30px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 20px;
}

.footer-col ul li a {
    text-transform: capitalize;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	color: #808080;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #fff;
	padding-left: 8px;
}

.footer-col a {
    font-size: 20px;
}

.footer-col p a {
    text-transform: capitalize;
    text-decoration: none;
    color: #808080;
    font-size: 16px;
}

.footer-col p.text1 {
    text-transform: capitalize;
    font-size: 13px;
    color: #fff;
    padding-bottom: 5rem;
}

.footer-col p.text2 {
    text-transform: capitalize;
    font-size: 13px;
    color: #fff;
}

.footer-col .form {
    padding-bottom: 10rem;
}

.footer-col .input {
    color: #D3D3D3;
    border: 0;
    padding: 2px;
    width: 100%;
    outline: none !important;
    box-sizing: border-box;
    font-size: 13px;
    border-bottom: 2px solid #fff;
    background: transparent;
  }

.footer-col .socials a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
    line-height: 40px;
	border-radius: 50%;
    padding: 10;
	color: #fff;
	transition: all 0.5s ease;
}

.footer-col .socials a:hover {
	color: #808080;
	background-color: #fff;
}

@media (max-width:767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .footer-col {
        width: 100%;
    }
}
/** -------------------------------------------------------- END OF FOOTER PAGE CSS ----------------------------------------------------------------------**/

/** -------------------------------------------------------- CART PAGE CSS ----------------------------------------------------------------------**/
.cartpage {
    margin: 100px 100px;
    height: 100vh;
    padding: 2%;
}

.cart-products .cart-item{
    text-decoration: none;
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.cart-header{
    font-weight: bold;
}

.cart-item{
    height: 100%;
}

.cart-image{
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.cart-name{
    text-align: left;
}

.cart-price {
    font-size: 10px;
    font-weight: 600;
    padding: 4px 2px;
}

#cart-quantity {
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: #f8f9fa;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    background-color: #f8f9fa;
}

.remove-title{
    text-align: center;
vertical-align: middle;
line-height: 90px;
}

.cart-remove{
    color: rgb(203, 20, 20);
    font-weight: 200;
    text-align: center;
}


div.row.justify-content-center {
    margin: 100px;
}
/** -------------------------------------------------------- END OF CART PAGE CSS ----------------------------------------------------------------------**/

/** -------------------------------------------------------- SHOP PAGE CSS ----------------------------------------------------------------------**/
.shop {
    min-height: 100vh;
}

.shop-banner {
    position: relative; 
    width: 100%;
    margin-top: 4.7rem;
    margin-bottom: 5rem;
}
/** BEGINNING OF TABLE CSS ---------------------------------------------------------------------------------------------**/
.productTables{
    text-align: center; 
    margin-left:auto; 
    margin-right:auto;
    border-spacing: 50px;   
    border-collapse: separate;
    font-weight: bolder;
}

.cellPaddingPX { 
    padding: 80px;
}
/** END OF TABLE CSS ---------------------------------------------------------------------------------------------**/

/** PRODUCT IMAGE SIZES **/
.energyImageSize{
    width: 180px;
    height: 300px;
}

.carbonatedImageSize{
    width: 200px;
    height: 267px;
}

.hydrationImageSize{
    width: 170px;
    height: 300px;
}
/** END OF PRODUCT IMAGE SIZES **/

/** TEXT ANIMATION -----------------------------------------------------------------------------------------------------**/

/** TESTING RAINBOW ANIMATION 
    .animatedText{
    animation: rainbow 4s linear;
    animation-iteration-count: infinite;
}
    @keyframes rainbow{
		100%,0%{
			color: rgb(20, 20, 20);
		}
		50%{
			color: rgb(17, 19, 20);
		}
		90%{
			color: rgba(0, 0, 0, 0.274);
		}
}
**/
/** END OF TEXT ANIMATION ------------------------------------------------------------------------------------------------**/

/** BEGINNING OF BUTTON CSS ---------------------------------------------------------------------------------------------**/
.shopAddToCartButtonCSS{
  --b: 3px;   /** border thickness **/
  --s: .45em; /** size of the corner **/
  --color: #181818;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),rgba(221, 14, 14, 0) 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: .6em;
  font-size: 17px;
  font-weight: bold;
  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shopAddToCartButtonCSS:hover,
.shopAddToCartButtonCSS:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  color: rgb(31, 31, 31);
}

.shopAddToCartButtonCSS:active {
  background: var(--color);
  color: #fff;
}
/** END OF BUTTON CSS -----------------------------------------------------------------------------------------------------**/

/** DRINK NAME TEXT -----------------------------------------------------------------------------------------------**/
.drinkName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}
/** END OF DRINK NAME TEXT -----------------------------------------------------------------------------------------------**/

/** BEGINNING OF IMAGE SIZE BIGGER WHEN HOVERED -----------------------------------------------------------------------------**/
.shopProductImages{
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .shopProductImages:hover {
    transform: scale(1.1);
  }
/** END OF IMAGE SIZE BIGGER WHEN HOVERED ----------------------------------------------------------------------------------**/

/** --------------------------------------------------------  END OF SHOP PAGE CSS --------------------------------------------------------------**/