* {
    font-family: 'Poppins', sans-serif;
}

/** -------------------------------------------------------- NAVBAR CSS ----------------------------------------------------------------------**/
header {
    position: fixed;
    inset: 0 0 auto;
    padding-top: 10px;
    display: flex;
    align-items: baseline;
    z-index: 100;
    background: transparent;
    border-bottom: 0.1px solid #242424;
    transition: all 0.5s ease;
}

header:hover {
    background:rgba(255,255,255);
}

header.active {
    background:rgba(255,255,255);
    transition: all 0.5s ease;
}

.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    padding-left: 40;
    justify-content: center;
    height: 40px;
}

.right {
    flex: 1;
    padding-right: 40;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header ul li {
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    padding: 13px;
}

header ul a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    --padding: 0.5em;
    position: relative;
    padding: var(--padding);
    transition: scale 0.5s ease;
}

header ul a::after {
    content: "";
    position: absolute;
    inset: auto var(--padding) calc(var(--padding) * 0.6);
    display: block;
    height: 2px;
    background-color: #000;
    scale: 0 1;
    transition: inherit;
    transform-origin: right;
  }

header ul a:hover::after {
    scale: 1 1;
    transform-origin: left;
  }
/** -------------------------------------------------------- END OF NAVBAR CSS ----------------------------------------------------------------------**/

/** -------------------------------------------------------- WELCOME PAGE CSS ----------------------------------------------------------------------**/
.content {
    background-image: linear-gradient(to right, #FFB6B6, #F2FF68);
    min-height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
    text-align: center;  
    color: white;
}

.content h1 {
    text-transform: capitalize;
    font-size: 85px;
    color: #fff;
    font-weight: 600;
}

.content h1:hover {
    transition: 0.8s;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a {
    text-transform: uppercase;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.content a:hover {
    opacity: 1;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity 
}
/** -------------------------------------------------------- END OF WELCOME PAGE CSS ----------------------------------------------------------------------**/

/** -------------------------------------------------------- HOMe PAGE CSS ----------------------------------------------------------------------**/
body {
    background-color:  #fff; /* Fallback For Welcome Page*/
  }

body .welcome-body {
    background-color: #fff;
    min-height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
    text-align: center;
    color: #000;
}

.welcome-body h1 {
    text-transform: capitalize;
    font-size: 85px;
    color: #000;
    font-weight: 600;
}

.welcome-body h1:hover {
    transition: 0.5s;
    -webkit-text-stroke: 2px #000;
    color: transparent;
}
/** -------------------------------------------------------- END OF HOME PAGE CSS ----------------------------------------------------------------------**/

/** -------------------------------------------------------- FOOTERP PAGE CSS ----------------------------------------------------------------------**/
.footer-container {
	max-width: 1170px;
	margin:auto;
}

.footer-row {
	display: flex;
	flex-wrap: wrap;
}

footer ul {
	list-style: none;
}

.footer {
    display:flex; 
    flex-flow:column; 
    justify-content:space-between;
	background-color: #000;
    padding-block: 70px;
}

.footer-col {
   width: 25%;
   padding: 0 15px;
}

.footer-col h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    margin-bottom: 50px;
	font-weight: 500;
	position: relative;
}

.footer-col h2 {
    text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	margin-bottom: 50px;
	font-weight: 500;
	position: relative;
    margin-left: 40px;
}

.footer-col h2:before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #fff;
	height: 2px;
	box-sizing: border-box;
	width: 30px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 20px;
}

.footer-col ul li a {
    text-transform: capitalize;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	color: #808080;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #fff;
	padding-left: 8px;
}

.footer-col a {
    font-size: 20px;
}

.footer-col p a {
    text-transform: capitalize;
    text-decoration: none;
    color: #808080;
    font-size: 16px;
}

.footer-col p.text1 {
    text-transform: capitalize;
    font-size: 13px;
    color: #fff;
    padding-bottom: 5rem;
}

.footer-col p.text2 {
    text-transform: capitalize;
    font-size: 13px;
    color: #fff;
    padding-bottom: 10rem;
}

.footer-col .socials a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	border-radius: 50%;
    padding-block: 5px;
    padding: 10;
	color: #fff;
	transition: all 0.5s ease;
}

.footer-col .socials a:hover {
	color: #808080;
	background-color: #fff;
}
/** -------------------------------------------------------- END OF FOOTER PAGE CSS ----------------------------------------------------------------------**/

/** -------------------------------------------------------- CART PAGE CSS ----------------------------------------------------------------------**/
.cartpage {
    margin: 100px 100px;
    height: 100vh;
}
.cart-header{
    padding: 10px;
    font-size: 18px;
}
.cart-products .cart-item{
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0, 0, 0 / 8%);
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.cart-price .cart-remove{
    font-size: 10px;
    font-weight: 600;
    padding: 4px 2px;
}

.cart-quantity {
    border: 0.5px solid black;
    font-size: 10px;
    width: 30%;
    outline: none;
    text-align: center;
}

/**/

div.row.justify-content-center {
    margin: 100px;
}
/** -------------------------------------------------------- END OF CART PAGE CSS ----------------------------------------------------------------------**/

/** -------------------------------------------------------- SHOP PAGE CSS ----------------------------------------------------------------------**/
.shop-banner {
    position: relative; 
    width: 100%;
    top: -5.8rem; 
}
/** BEGINNING OF TABLE CSS ---------------------------------------------------------------------------------------------**/
.productTables{
    text-align: center; 
    margin-left:auto; 
    margin-right:auto;
    border-spacing: 50px;   
    border-collapse: separate;
    font-weight: bolder;
}

.cellPaddingPX { 
    padding: 80px;
}
/** END OF TABLE CSS ---------------------------------------------------------------------------------------------**/

/** PRODUCT IMAGE SIZES **/
.energyImageSize{
    width: 180px;
    height: 300px;
}

.carbonatedImageSize{
    width: 200px;
    height: 267px;
}

.hydrationImageSize{
    width: 170px;
    height: 300px;
}
/** END OF PRODUCT IMAGE SIZES **/

/** TEXT ANIMATION -----------------------------------------------------------------------------------------------------**/

/** TESTING RAINBOW ANIMATION 
    .animatedText{
    animation: rainbow 4s linear;
    animation-iteration-count: infinite;
}
    @keyframes rainbow{
		100%,0%{
			color: rgb(20, 20, 20);
		}
		50%{
			color: rgb(17, 19, 20);
		}
		90%{
			color: rgba(0, 0, 0, 0.274);
		}
}
**/
/** END OF TEXT ANIMATION ------------------------------------------------------------------------------------------------**/

/** BEGINNING OF BUTTON CSS ---------------------------------------------------------------------------------------------**/
.shopAddToCartButtonCSS{
  --b: 3px;   /** border thickness **/
  --s: .45em; /** size of the corner **/
  --color: #181818;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),rgba(221, 14, 14, 0) 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: .6em;
  font-size: 17px;
  font-weight: bold;
  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.shopAddToCartButtonCSS:hover,
.shopAddToCartButtonCSS:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  color: rgb(31, 31, 31);
}

.shopAddToCartButtonCSS:active {
  background: var(--color);
  color: #fff;
}
/** END OF BUTTON CSS -----------------------------------------------------------------------------------------------------**/

/** DRINK NAME TEXT -----------------------------------------------------------------------------------------------**/
.drinkName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}
/** END OF DRINK NAME TEXT -----------------------------------------------------------------------------------------------**/

/** BEGINNING OF IMAGE SIZE BIGGER WHEN HOVERED -----------------------------------------------------------------------------**/
.shopProductImages{
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .shopProductImages:hover {
    transform: scale(1.1);
  }
/** END OF IMAGE SIZE BIGGER WHEN HOVERED ----------------------------------------------------------------------------------**/

/** --------------------------------------------------------  END OF SHOP PAGE CSS --------------------------------------------------------------**/